<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mod1 - Solution</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="LunchCheckCtrl">
    <div class="container-fluid col-md-4 col-md-offset-4">
      <div class="text-center">
        <h1>Lunch Items:</h1>
        <textarea rows="2" class="form-control" ng-class="textareaCSS" ng-model="lunchItems"></textarea><br>
        <button type="button" class="btn btn-success btn-lg btn-block" ng-click="checkLunch()">
          Check if too much ...
        </button><br>
        <p ng-class="paragraphCSS">{{message}}</p>
      </div>
    </div>
  </body>
</html>
